{% assign priorexperiences = site.data.data.priorexperiences %}
{% if priorexperiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ priorexperiences.title }}
  </h2>

  {% for priorexperiences in priorexperiences.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ priorexperiences.role }}</h3>
        <div class="time">{{ priorexperiences.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ priorexperiences.company }}</div>

    </div><!--//meta-->

    {% if priorexperiences.details %}
    <div class="details">
      {{ priorexperiences.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

